$color-lightbrown: #CCCCCC;
$color-brown: #A3A3A3;
$color-darkbrown: #7f7159;
$color-error: #c50202;
$width-content: 960px;
// $image-path: 'http://hongkong.peninsula.com/files/the-peninsula-hotels/default/images/'
$image-path: '../images';
$font-path: '../fonts';
$tooltip-max-width: 50%;
$tooltip-arrow-color: lightgrey;
$tooltip-bg: lightgrey;